/* Universe container */
.universe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%; /* Adjust width as needed */
    height: 80%; /* Adjust height as needed */
  }
  
  /* Skill styles */
  .skill {
    background-color: #ffffff; /* Skill circle color */
    color: #000000; /* Skill text color */
    border-radius: 50%; /* Makes the div a circle */
    width: 100px; /* Adjust circle width */
    height: 100px; /* Adjust circle height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; /* Adjust margin between skills */
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  